name: Python Code Quality Checks

on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: '3.14'

jobs:
  check-code-quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies and dev tools
        run: uv sync --locked --all-extras

      - name: Run ruff linting check
        run: uv run ruff check .

      - name: Run ruff formatting check
        run: uv run ruff format --check .

      - name: Run static type checks with mypy
        run: uv run mypy .
